<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AccountTransaction">
    <select id="getAllAccountTransactionsByAccNum" parameterType="String" resultType="AccountTransaction">
        SELECT * FROM ACCOUNT_TRANSACTION WHERE ACC_NUM = #{accNum}
    </select>
    <select id="getAllAccountTransactionByAccNumWithCode" parameterType="String" resultType="AccountTransactionWithCode">
        select * from account_transaction act inner join code c on act.acc_t_type = c.code_id where act.acc_num = ${accNum} order by act.acc_t_date desc
    </select>

</mapper>